{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}



{% block body %}

    <div class="msg_accueil">
        <h1>Bienvenue</h1>
    </div>

    <div class="dernier_prd">
    <h2>Les 5 derniers produits</h2>
    </div>

    



{% endblock %}
