{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}


{% block body %}


<h1 id="lst_produits" >Liste des produits </h1>

<div class="tous-prd">
        {% for produit in tousProduits %}
            <div class="produit">
                <img src="{{ asset(produit.image) }}" alt="{{ produit.nom }}">
                <h3>{{ produit.nom }}</h3>
                <p>{{ produit.description }}</p>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}