<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="img/x-icon" href="images/logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/styles.css">
        {% block stylesheets %}{% endblock %}
    
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar">
        <div class="container">
            <a href="#" >
            <img class="logo-coffee" src="images/logo.png" alt="logo-coffetime"></a>
            <ul class="nav-links">
                <li><a href="{{ path ('homepage')}}">Accueil</a></li>
                <li><a href="{{ path('liste_produits') }}">Liste produits</a></li>
            </ul>
        </div>
    </nav>
    {% block body %} {% endblock %}
    </body>

    
</html>
